<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link
    href="https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Hind+Siliguri:wght@400;500;600&family=Lato:wght@400;700&family=Open+Sans:wght@400;600&family=Roboto:wght@400;500&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/style.css">

  <title>Eat-Da-Burger</title>
  
 
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/assets/js/burger.js"></script>
</head>
<body>

  {{{ body }}}

</body>
</html>